<mat-form-field appearance="fill">
    <mat-label>Choose a category</mat-label>
    <select id="select" matNativeControl >
      <option value="Premium">Premium</option>
      <option value="nonPremium">NonPremium</option>
    </select>
  </mat-form-field>
<ul class="list-group w-100">
    <li class="list-group-item d-flex justify-content-between w-100">
        
        <span >
            NAME
        </span>
        <span>
            PRICE
        </span>
        <span>
            AVAILABILITY
        </span>
        <span>
            DETAILS
        </span>
        <span>
            Enter Quantity
        </span>
    </li>
</ul>

<ul class="list-group w-100" *ngFor='let product of productData'>
    <li class="list-group-item d-flex justify-content-between w-100">
        <span >
            {{product.p_name | uppercase}}
        </span>
        <span>
            {{product.p_cost}}
        </span>
        <span>
            {{product.p_availability}}
        </span>
        <span>
            {{product.p_details}}
        </span>
        <span> 
            <input />
        </span>
    </li>
</ul>
<br>
<span>
    <button (click)="onSubmit()">Submit</button>
</span>
