<nav class="navbar navbar-dark bg-success">
    <a href="#">
        <img src=".../../../../../assets/gImage.jpg" width="30" height="30" alt=""/>
    </a>
    <span class="navbar-text text-white">
        {{"shopping App" | uppercase}}
    </span>
</nav>