<ng-container>
  <app-header></app-header>

  <div class="container">

    <div class="row">

      <div class="col-lg-6">
        <img src="../assets/shop.png" alt="" class="img-fluid">
      </div>

      <div class="col-lg-6 mt-5">
        <app-products></app-products>
      </div>
    </div>
  </div>
</ng-container>

